@charset "utf-8";

@keyframes bg{
  0%{background: purple;}
  50%{background-color: orange;}
  100%{background-color:skyblue;}
  }
  @keyframes fade{
    0%{
      opacity: 0;
      transform: translate(0,0) scale(1);}
    100%{
      opacity: 100;
      transform: translate(70px, 400px) scale(1.5) rotate(5turn);}
  }
  @keyframes typing{
    0%{
      width: 0em;
    }
    100%{
      width: 17em;
    }
  }
body{animation-name:bg;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.circle{
  opacity: 0;
  background: pink;
  width: 200px;
  height: 200px;
  line-height: 200px;
  border:5px solid black;
  border-radius: 50%;
  border-color: beige;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  animation-name: fade;
  animation-duration: 2s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
.welcome{
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 0em;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s 8s forwards;
}
.box{
  font-size: 36px;
  font-style: italic;
  color: darkslateblue;
  font-weight: 700;
  background-color: orange;
  width: 10em;
  text-align: center;
  transition: all 1s;

}
.box:hover{
  color: white;
  background-color:hotpink;
  text-align:left;
}