@charset "utf-8";
body{
  background-color: #ff0;
  color:green;
}
.multi.note{
  color:gray
}
h1.multi{
  color:purple;
}
.multi{
  color:hotpink;
}
h1{
  color:red;
}
*{
  color:blue;
}
a{
  color:inherit;
}